<div class="card">
    <div class="cover" style="background-image: url({{include.post.cover}})">
    </div>
    <div class="details">
        <div class="title">
            <p>{{include.post.title}}</p>
        </div>
        <div class="excerpt">
            <p>{{include.post.excerpt}}<p>
        </div>
    </div>
    <div class="misc">
        <div class="author">
            <p>{{include.post.author}}</p>
        </div>
        <div class="read">
            <a href="{{include.post.url}}">Read</a>
        </div>
    </div>
</div>
