<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>
  <script type="text/javascript">
    setTimeout(function () {
      var elementList = document.querySelectorAll('[data-target="fanalytics"]');
      for (var i = 0; i < elementList.length; i++) {
        elementList[i].addEventListener('click', function (event) {
          fanalytics('send', 'click', {button: event.target.getAttribute('data-value')});
        });
      }
    }, 1000);
    var adAfterPost = new VideoAd();
    adAfterPost.events.initialize("advertisement-after-post", {width: 320, height: 240});
  </script>
</html>
